{% extends 'base.html' %}

{% block content %}

<script>
    $(document).ready(function () {

        function set_logging(state) {
            $.ajax({
                type: "POST",
                url: "{% url 'set-logging' %}",
                data: {
                    "logging": state
                },
                complete: (data) => {
                    if (data['responseJSON']['logging'])
                        $('#logging-state').text("Logging On")
                    else
                        $('#logging-state').text("Logging Off")
                },
                "dataType": "json"
            });
        }

        $('#turn-logging-on').click(e => {
            set_logging(true)
        });
        $('#turn-logging-off').click(e => {
            set_logging(false)
        });

        $("#reconnect-devices").click(e => {
            $.ajax({ type: "POST", url: "{% url 'reconnect-devices' %}" });
        })

    })
</script>

<div class="control-panel">
    <div class="control-section">
        <h2>Options</h2>
        <div class="one-column-layout">
            <div id="reconnect-devices" class="toggle-button reconnect">
                <span>Reconnect Devices</span>
            </div>
            <div class="toggle-button" id="light-dark-toggle" onclick="toggleTheme()">
                <span>Toggle Dark Theme</span>
                <svg viewBox="0 0 25 25" width="60px" height="60px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="white" fill-rule="nonzero">
                            <path
                                d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z">
                            </path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>

    <div class="control-section">
        <h2 id="logging-state"> Set Logging </h2>
        <div class="two-column-layout">
            <div id="turn-logging-on" class="toggle-button toggle-on">
                <span>Turn Logging On</span>
            </div>
            <div id="turn-logging-off" class="toggle-button toggle-off">
                <span>Turn Logging Off</span>
            </div>
        </div>

    </div>
</div>

{% endblock %}