{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{% url 'index' %}static/css/faults.css?{% now ' U' %}" />

<div>
    <a class="nav button" href="{% url 'manual-control' %}">Manual Control</a>
</div>
<div>
    <div class="save nav button" onclick="SaveItems()">Save Faults</div>
    <div id="toast">Saved!</div>
</div>

<div class="wrapper">
    <div class="list-container">
        <ul class="fault-list">
            <li>Induction Jam</li>
            <li>Distribution Jam</li>
        </ul>
    </div>

    <form id="fault-form" action="">
        <fieldset class="form-group">
            <legend>Create new button</legend>
            <div class="stacked">
                <label for="label">Label</label>
                <input type="text" maxlength="60" id="label" placeholder='"Fault name"' autocomplete="off">
            </div>
            <div class="stacked">
                <label for="tags">Tags</label>
                <input class="form__group" type="text" maxlength="60" id="tags" placeholder="e.g. SystemStop 1"
                    autocomplete="off">
            </div>
            <div class="stacked">
                <label for="colors">Color</label>
                <div class="color-buttons">
                    <input type="button" class="white" onclick="setColor(this)"></input>
                    <input type="button" class="black" onclick="setColor(this)"></input>
                    <input type="button" class="green" onclick="setColor(this)"></input>
                    <input type="button" class="red" onclick="setColor(this)"></input>
                    <input type="button" class="yellow" onclick="setColor(this)"></input>
                    <input type="button" class="blue" onclick="setColor(this)"></input>
                </div>
            </div>
            <div>
                <label for="checkbox"> Add ON/OFF ? </label>
                <input type="checkbox" class="stacked" id="checkbox" autocomplete="off" />
            </div>
            <button role="button" class="button">Add to list</button>
        </fieldset>
    </form>
</div>

<script>
    var itemList = Object.values(JSON.parse('{{ faults | safe }}'));

    const faultList = document.querySelector(".fault-list")
    faultList.innerHTML = ""
    $("input.white").click()

    itemList.forEach((item, index) => {
        item.key = index
        renderItem(item)
    })

    function addItem(inputItem) {
        const item = {
            ...inputItem,
            key: itemList.length
        }
        itemList.push(item)
        renderItem(item)
    }

    function deleteItem(key) {
        const index = itemList.findIndex(item => item.key === Number(key));
        const item = {
            deleted: true,
            ...itemList[index]
        };
        itemList = itemList.filter(item => item.key !== Number(key))
        renderItem(item);
    }

    function renderItem(item) {
        if (item.deleted) {
            document.querySelector(`[data-key='${item.key}']`).remove();
        }
        else {
            const node = document.createElement("li")
            node.setAttribute("class", "list-item")
            node.setAttribute("data-key", item.key)

            node.innerHTML = `
                <span class="list-button ${item.color}">${item.label}</span>
                <p>${item.cmd}</p>
                <button class="delete-item">${"\u00D7"}</button>
            `
            faultList.append(node)
        }

    }

    const form = document.getElementById("fault-form")
    form.addEventListener('submit', event => {
        event.preventDefault()

        const [input, tags] = form.getElementsByTagName('input');
        const label = input.value.trim();
        const checkbox = document.getElementById("checkbox")

        if (label !== '') {
            const newItem = {
                label: label,
                cmd: tags.value.trim(),
                color: newColor,
            }
            input.value = '';
            tags.value = '';
            addItem(newItem)

            if (checkbox.checked) {
                newItem.label += " OFF"
                newItem.cmd = newItem.cmd.replaceAll("0", "~")
                newItem.cmd = newItem.cmd.replaceAll("1", "0")
                newItem.cmd = newItem.cmd.replaceAll("~", "1")
                switch (newItem.color) {
                    case "white":
                        newItem.color = "black"
                        break;
                    case "black":
                        newItem.color = "white"
                        break;
                    case "green":
                        newItem.color = "red"
                        break;
                    case "red":
                        newItem.color = "green"
                        break;
                    case "yellow":
                        newItem.color = "blue"
                        break;
                    case "blue":
                        newItem.color = "yellow"
                        break;
                    default:
                        newItem.color = "white"
                        break;
                }
                addItem(newItem)
            }
        }
    });

    faultList.addEventListener('click', event => {
        if (event.target.classList.contains('list-button')) {
            const key = event.target.parentElement.dataset.key;
            const item = itemList[key]
            console.log("sent fault", item.cmd)
            const buttonClasses = event.target.classList
            buttonClasses.add("clicked")
            setTimeout(() => { buttonClasses.remove("clicked") }, 2000);
            SendFault(itemList[key].cmd)
        }
        if (event.target.classList.contains('delete-item')) {
            const key = event.target.parentElement.dataset.key;
            deleteItem(key);
        }
    });

    function SendFault(command) {
        $.ajax({
            type: "POST",
            url: "/command/" + command,
        });
    }

    function setColor(el) {
        newColor = el.classList[0]

        for (let btn of document.getElementsByClassName("selected")) {
            btn.classList.remove("selected")
        }

        el.classList.add("selected")
    }

    function SaveItems() {
        const toast = document.getElementById("toast")
        toast.className = "show"
        setTimeout(function () { toast.className = ""; }, 2500);

        $.ajax({
            type: "POST",
            url: "/save_faults",
            data: JSON.stringify(itemList)
        });
    }

</script>

{% endblock %}