{% extends 'base.html' %}

{% block content %}
<link href="{% url 'index' %}static/css/home.css?{% now ' U' %}" rel="stylesheet" />

<div class="home-title-background">
    <span class="home-title">
        <span class="home-text">Machine Status</span>
    </span>
</div>

<div id="home-grid">
    {% for device in devices %}
    {% if device.connected %}
    <div class="home-grid-entry clickable" onclick="window.location.href='./devices/{{ device.id }}';">
        <div class="machine-name">{{ device.name }}</div>
        <div class="machine-connection">
            Connected at {{ device.ip }}:{{ device.port }}
        </div>
    </div>
    {% else %}
    <div class="home-grid-entry">
        <div class="machine-name">{{ device.name }}</div>
        <div class="machine-connection">No connection</div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}