{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="static/css/model.css" />

<div class="model">
    <p id="updated"></p>
    <div class="model-head">
        <label class='model-title' id="currentmachine">Main</label>
    </div>

    <div class="model-body">
        {% include '2Dmodel.svg' %}

        <div class="controls" name="controls">
            <!-- Dynamic buttons from build_menus.js -->
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/menu_data.js' %}"></script>
<script type="module" src="{% static 'js/build_menus.js' %}"></script>


{% endblock %}