{% load table_utils %}

<table id="machine-status-table">
    <thead>
        <tr>
            <th>Key</th>
            {% for heading_key, heading_value in headers.items %}
            <th>{{ heading_value }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for datapoint_name, datapoint_value in data.items %}
        <tr onclick="showFull(this)" data-full="{{ datapoint_value|get_full:'value' }}">
            <td>{{ datapoint_name }}</td>
            {% for header in headers %}
            <td>
                {{ datapoint_value|get_item:header }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function showFull(row) {
        const old = row.lastElementChild.innerHTML;
        row.lastElementChild.innerHTML = row.dataset['full']
        row.dataset['full'] = old
    }
</script>